[submodule "axerabin"]
	path = axerabin
	url = https://github.com/scpcom/axerabin
	branch = nanokvmpro
[submodule "linux"]
	path = linux
	url = https://github.com/scpcom/linux
	branch = nanokvmpro-4.19.y
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/scpcom/u-boot
	branch = nanokvmpro-2020.04
